body{ 
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top: 20px;  
}
#title {
    font-size: 25px;
    font-weight: bold;
    color:indianred;
    padding-bottom: 10px;
    padding-top: 5px;;
    text-align: center;
}
input{
    font-size: 16px;
}
button{
    font-size: 16px;
}
.add-button:hover {
    background-color: #bbb;
}
#myDiv{
    background-color:antiquewhite;
    height: 75px;
    }
#todo-input{
    margin-left: 10px;
}
#add-button{
    margin-right: 10px;
}

    
}